@media (max-width: 1200px) {
  .burger-menu {
    display: block;
  }
}
@media (max-width: 1024px) {
  .nav-links a {
    color: #343434;
    font-family: Open Sans;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    display: none;
  }
  .burger-menu {
    width: 25px;
    height: 23px;
    margin-left: 600px;
    display: block;
  }
  .ugol {
    width: 49px;
    height: 48px;
    background: #a9c2be;
    text-align: end;
    margin-left: -30px;
  }
  .mebel-text {
    margin-left: 30px;
  }
  .mebel-text h1 {
    width: 430px;
    color: #343434;
    font-family: Raleway;
    font-size: 25px;

    font-weight: 400;
    line-height: 127.5%;
    margin-top: -45px;
    letter-spacing: 1.5px;
  }
  .mebel-text p {
    width: 300px;
    height: 122px;
    color: #343434;
    font-family: Raleway;
    font-size: 15px;
    margin-top: 40px;
    font-weight: 300;
    line-height: 135%;
    letter-spacing: 1.08px;
    text-align: center;
  }
  .mebel-img {
    width: 230px;
    height: 280px;
    background: #a9c2be;
    margin-top: 25px;
    margin-left: -900px;
  }
  .mebel-img img {
    margin-left: -200px;
    width: 380px;
    height: 263px;
  }
  .mebel2-text span {
    color: white;
  }
  .hero2-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 20px;
  }
  .mebel2-text h1 {
    width: 430px;
    color: #343434;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 400;
    line-height: 127.5%;
    margin-top: -45px;
    letter-spacing: 1.5px;
  }
  .p p {
    width: 400px;
    height: 122px;
    color: #343434;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 1.08px;
    margin-top: 90px;
    text-align: center;
  }
  .mebel2-img img {
    margin-top: -30px;
    margin-left: 80px;
    width: 380px;
    height: 263px;
  }
  .mebel2-img {
    width: 282px;
    height: 333px;
    background: #a9c2be;
    margin-top: 120px;
    margin-left: -780px;
    width: 230px;
    height: 280px;
    background: #a9c2be;
    margin-top: 100px;
  }
  .real-proect h1 {
    color: #0e0e0e;
    font-family: Raleway;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 160px;
    margin-left: 270px;
  }
  .real-proect-img {
    margin-top: 80px;
    padding: 0px 0px 20px 20px;
  }
  .real-proect2 {
    display: none;
  }
  .backgrounds {
    margin-left: -180px;
  }
  .back1 {
    width: 970px;
    height: 453px;
    margin-left: 180px;
  }
  .back2 {
    display: none;
  }
  .back3 img {
    width: 540px;
    height: 439px;
    margin-top: -480px;
  }
  .back4 {
    margin-top: -600px;
  }
  .zad2 img {
  }
  .zad2 {
    margin-left: 00px;
  }
  .post-content {
    position: absolute;
    margin-left: 400px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .nav-links img {
    width: 91.998px;
    height: 34px;
    flex-shrink: 0;
  }
  .mebel-text h1 {
    color: #0e0e0e;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.5%; /* 25.5px */
    font-variant: small-caps;
    letter-spacing: 1px;
  }
  .mebel-text h1 span {
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.5%; /* 25.5px */
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-left: 5px;
  }

  .mebel-text p {
    color: #343434;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 18.9px */
    letter-spacing: 0.84px;
  }
  .mebel-img img {
    width: 340px;
    height: 251px;
    flex-shrink: 0;
  }
  .mebel-img {
    margin-top: 300px;
  }
  .mebel2-img img {
    width: 340px;
    height: 252px;
    margin-top: 220px;
    margin-left: 300px;
  }
  .mebel3-text{
  margin-top: 150px;
  }
.mebel3-img{
  margin-top: 400px;
  margin-left: -600px;
}
.p p{
  width: 286px;
}
.real-proect h1{
  margin-left: 10px;
}
.back3 img{
 display: none;
}
.opis{
  margin-left: 100px;
}
.opis p{
  width: 300px;
}
.logos{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 60px;
  gap: 40px;
  
}
.zad2 img{
  display: none;
}
.big-c {
  display: none;
}
.zad2 {
  margin-left: 1px;
  display: none;
}
.post2{
 position: absolute;
 margin-left: -300px;
}
@media (max-width: 380px) {
}
