* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  color: #343434;
  font-family: Open Sans;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.burger-menu {
  display: none;
}
#language {
  color: rgba(91, 91, 91, 0.5);
  font-family: Open Sans;
  font-size: 14px;
  border: none;
  font-weight: 600;
  line-height: 150%;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.ugol {
  width: 59px;
  height: 58px;
  background: #a9c2be;
  text-align: end;
  margin-left: -40px;
}
.ugol3 {
  width: 59px;
  height: 58px;
  background: #a9c2be;
  text-align: end;
  margin-left: 10px;
}
.mebel-text {
  margin-left: 40px;
}
.mebel-text span {
  color: white;
}
.mebel-text h1 {
  width: 436px;
  color: #343434;
  font-family: Raleway;
  font-size: 30px;

  font-weight: 600;
  line-height: 127.5%;
  margin-top: -45px;
  letter-spacing: 1.5px;
}
.mebel-text p {
  width: 531px;
  height: 122px;
  color: #343434;
  font-family: Raleway;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 1.08px;
}
.mebel3-text span {
  color: white;
}
.mebel3-text h1 {
  width: 436px;
  color: #343434;
  font-family: Raleway;
  font-size: 30px;
  margin-left: 45px;
  font-weight: 600;
  line-height: 127.5%;
  margin-top: -45px;
  letter-spacing: 1.5px;
}
.mebel3-text p {
  width: 531px;
  height: 122px;
  color: #343434;
  font-family: Raleway;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 1.08px;
}
.mebel-img {
  width: 282px;
  height: 333px;
  background: #a9c2be;
  margin-top: 25px;
}
.mebel-img img {
  margin-left: -210px;
  margin-top: -27px;
}
.mebel2-text span {
  color: white;
}
.hero2-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 20px;
}
.mebel2-text h1 {
  width: 436px;
  color: #343434;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  line-height: 127.5%;
  margin-top: -45px;
  letter-spacing: 1.5px;
}
.p p {
  color: #343434;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 1.08px;
  margin-top: 90px;
  width: 531px;
}
.mebel2-img img {
  margin-top: -28px;
  margin-left: 60px;
}
.mebel2-img {
  width: 282px;
  height: 333px;
  background: #565656;
  margin-top: 120px;
  margin-left: -780px;
}
.hero3 {
  margin-top: 100px;
}
.mebel3-img {
  margin-left: -300px;
}
.real-proect h1 span {
  color: #ff9619;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
.real-proect h1 {
  color: #0e0e0e;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 160px;
  margin-left: 40px;
}
.real-proect-img {
  margin-top: 80px;
}
.real-proect-img img {
  width: 306.9px;
}
.back1 {
  width: 1040px;
  height: 453px;
  background: #5b5b5b;
  margin-left: 200px;
}
.back2 {
  width: 770px;
  height: 390px;
  background: #a9c2be;
  margin-top: -453px;
}
.back3 {
  width: 200px;
  height: 100px;
  background: #ff9619;
  margin-left: 200px;
}
.back3 img {
  margin-top: -360px;
  margin-left: -30px;
}
.backgrounds {
  margin-top: 150px;
}
.opis {
  margin-left: 600px;
}
.opis h1 span {
  color: #ff9619;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 35px */
  font-variant: small-caps;
}
.opis h1 {
  color: #fbfbfb;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 35px */
  padding-top: 107px;
}
.opis h2 {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 2px;
  margin-top: 30px;
}
.opis p {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 1.8px;
  margin-top: 15px;
}
.opis h3 {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  padding: 13px 14px 18px 19px;
  width: 268px;
  height: 43px;
  background: #ff9619;
  margin-top: 30px;
}
.back4 {
  width: 149px;
  height: 110px;
  background: #ff9619;
  margin-top: -530px;
  margin-left: 1020px;
}
.back4 img {
  padding: 65px 22px 50px 11px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3.675px;
}

.work {
  margin-top: 550px;
}
.snami h1 span {
  color: #ff9619;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 52.5px */
  letter-spacing: 2.45px;
}
.snami h1 {
  color: #343434;
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.45px;
  margin-left: 60px;
}
.logos {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
.zad {
  width: 450px;
  height: 596px;
  background: #5b5b5b;
  margin-left: 800px;
  margin-top: 100px;
}
.zad2 img {
  width: 800px;
  height: 596px;
  margin-top: -596px;
  position: absolute;
}
.post-content {
  width: 470px;
  height: 516px;
  background: #ffffff;
  margin-top: -540px;
  margin-left: 700px;
  position: absolute;
}
.post2 {
  margin-left: 70px;
  margin-top: -110px;
}
.big-c {
  color: #ff9619;
  font-family: Raleway;
  font-size: 160px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-top: -30px;
  margin-left: -100px;
}
.h1 {
  margin-left: 60px;
}
.post-content h2 {
  color: #343434;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-top: -90px;
}
.post-content h3 {
  color: #ff9619;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.post2 input {
  border: none;
  margin-top: 15px;
  color: #343434;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.post2 button {
  width: 188px;
  height: 43px;
  background: #ff9619;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 74px;
  cursor: pointer;
}
.post2 button:hover {
  width: 188px;
  height: 43px;
  background: #ff9619;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background-color: #0e0e0e;
}
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.checkbox p {
  color: #343434;
  font-family: Raleway;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 219px;
  margin-left: 30px;
  margin-top: -25px;
}
.divans {
  margin-top: 160px;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider img {
  width: 700px;
  height: 500px;
  margin-top: 30px;
}
.divans button {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  width: 218.605px;
  height: 50px;
  background: #ff9619;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  margin-left: 520px;
}
.divans button:hover {
  width: 218.605px;
  height: 50px;
  background: #ff9619;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background-color: #0e0e0e;
}
.showroom h1 span {
  color: #ff9619;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 52.5px */
  letter-spacing: 2.45px;
}
.showroom h1 {
  color: #343434;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.45px;
  margin-left: 60px;
}
.showroom-content {
  display: flex;

  gap: 30px;
}
.text h1 {
  color: #ff9619;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 75px;
}
.text p {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1%;
  text-transform: capitalize;
  margin-top: 20px;
}
.text span {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: capitalize;
}
.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 90px;
}
.showroom-content button {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  width: 218.605px;
  height: 50px;
  background: #ff9619;
  cursor: pointer;
  border: none;
  margin-top: 150px;
  margin-left: 430px;
}
.showroom-content button:hover {
  width: 218.605px;
  height: 50px;
  background: #ff9619;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background-color: #0e0e0e;
}

.text2 h1 {
  color: #ff9619;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 75px;
  margin-left: 435px;
}
.text2 p {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1%;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 435px;
}
.text2 span {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: capitalize;
}
.text2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 90px;
}
.text3 h1 {
  color: #ff9619;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 75px;
  margin-left: 870px;
}
.text3 p {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1%;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 870px;
}
.text3 span {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: capitalize;
}
.text3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 90px;
}
.h1 h1 {
  color: #7d1111;
  font-family: Raleway;
  font-size: 130px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 16.9px;
  margin-top: 200px;
  margin-left: 820px;
}

.footer {
  margin-top: 200px;
  width: 1280px;
  height: 365px;
  background: #5b5b5b;
}
.ekmi-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo img {
  margin-left: 120px;
  margin-top: -50px;
}
.h2 {
  margin-left: 20px;

  color: #fff;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2.08px;
  text-transform: capitalize;
  margin-top: -60px;
  width: 133px;
  gap: 0px;
}
.h3 {
  margin-left: 30px;

  color: #fff;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2.08px;
  text-transform: capitalize;
  margin-top: -60px;
}
.h3 p {
  line-height: 37px;
}
.h2 p {
  line-height: 37px;
}
.h4 {
  margin-left: 40px;
  margin-top: -60px;
}
.h4 img {
  width: 27.567px;
  height: 27.818px;
  flex-shrink: 0;
}
.h4 p {
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  text-transform: uppercase;
  margin-top: 30px;
}
.h4 button {
  margin-top: 40px;
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  border: none;
  stroke-width: 1px;
  background-color: #ff9619;
  width: 271px;
  height: 42px;
  gap: 14px;
}
.h4 button:hover {
  margin-top: 40px;
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  text-transform: uppercase;
  border: none;
  stroke-width: 1px;
  background-color: #2a2a2a;
  width: 271px;
  height: 42px;
  flex-shrink: 0;
}
.h5 {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-left: 30px;
}
